// Fuentes
$prim-font: "Outfit", sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$table: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$blue: #007df4;
$cyan: #00c8c2;

$negro: #1a1b15;
$white: #ffffff;
$gray: #64748b;
$gray-light: #f8fafc;
$gray-dark: #1e293b;

$red: rgb(169, 0, 0);
$green: #02db02;

// Más colores
$orange: #ea580c;
$lime: #84cc16;
$skyblue: #22d3ee;
$morado: #a855f7;
$impred: #ef4444;
$keppel: #14b8a6;
$magenta: #db2777;
$amarant: #e11d48;
$violet: #7e22ce;

// Fuentes
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
